<div class="container d-flex justify-content-center p-5">
  <div class="card shadow-lg w-75" >
    <div class="p-5">
      <form class="" action="">
        <div class="d-flex justify-content-center">
          <div class="py-3">
            <img
              class="rounded-circle"
              style="height: 200px; width: 200px"
              src="../../../../assets/img/profile/profile_desk.jpeg"
              alt=""
            />
          </div>
          <div class="px-4 d-flex">
            <div class="p-5">
              <a href="" style="text-decoration: none; color: black">
                <p class="px-4 display-3">634</p>
                <p class="display-6">Folowers</p>
              </a>
            </div>
            <div class="p-5">
              <a href="" style="text-decoration: none; color: black">
                <p class="px-4 display-3">449</p>
                <p class="display-6">Folowing</p>
              </a>
            </div>
          </div>
        </div>
        <hr />
        <div class="">
          <div class="p-3 row row-cols-1 row-cols-lg-2">
            <div class="col">
              <div class="row">
                <label for="exampleFormControlInput1" class="col-3 form-label pt-2"
                  >First name</label
                >
                <input
                  type="text"
                  class="col form-control"
                  id="exampleFormControlInput1"
                  placeholder="Kamlesh"
                />
              </div>
            </div>
            <div class="col">
              <div class="row">
                <label for="exampleFormControlInput1" class="col-3 form-label pt-2"
                  >Last name</label
                >
                <input
                  type="email"
                  class="col form-control"
                  id="exampleFormControlInput1"
                  placeholder="Mundel"
                />
              </div>
            </div>
            <div class="col"></div>
          </div>
          <div class="p-3 row row-cols-1 row-cols-lg-2">
            <div class="col">
              <div class="row">
                <label for="exampleFormControlInput1" class="col-3 form-label pt-2"
                  >Gender</label
                >
                <select
                formControlName="category"
                class="col form-select"
                id="inputGroupSelect01"
              >
                <option selected>-- select --</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
              </select>
              </div>
            </div>
            <div class="col">
              <div class="row">
                <label for="exampleFormControlInput1" class="col-3 form-label pt-2"
                  >DOB</label
                >
                <input
                  type="date"
                  class="col form-control"
                  id="exampleFormControlInput1"
                  placeholder="Mundel"
                />
              </div>
            </div>
            <div class="col"></div>
          </div><hr>
          <div>
            <div class="mb-6">
              <label for="exampleFormControlTextarea1" class="form-label">Bio</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
          </div><hr>
          <div class="p-3 row row-cols-1 row-cols-lg-2">
            <div class="col">
              <div class="row">
                <label for="exampleFormControlInput1" class="col-3 form-label pt-2"
                  >Password</label
                >
                <input
                  type="text"
                  class="col form-control"
                  id="exampleFormControlInput1"
                  placeholder="Kamlesh"
                />
              </div>
            </div>
            <div class="col">
              <div class="row">
                <label for="exampleFormControlInput1" class="col-3 form-label pt-2"
                  >Confirm</label
                >
                <input
                  type="email"
                  class="col form-control"
                  id="exampleFormControlInput1"
                  placeholder="Mundel"
                />
              </div>
            </div>
            <div class="col"></div>
          </div><hr>
        </div>
      </form>
    </div>
  </div>
</div>
